/* ==========================================================================
   Page layout
   ========================================================================== */

body {
	background-color: #7FFFD4;
	font-family: Helvetica;
	color: #6b717f;
}

/* ==========================================================================
   Header
   ========================================================================== */
